behaviors {
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };
        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMR";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
        hmr_lpar_lt: hmr_lpar_lt {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_LPAR";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            bindings = <&kp>, <&lpar_lt>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
        hmr_rpar_gt: hmr_rpar_gt {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_RPAR";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            bindings = <&kp>, <&rpar_gt>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
        eur_dol: euro_dollar {
            compatible = "zmk,behavior-hold-tap";
            label = "Euro / Dollar";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            global-quick-tap;
            flavor = "tap-preferred";
            bindings =
                <&euro_sign>,
                <&kp>;
        };
        ltsl: layerTapSL {
            compatible = "zmk,behavior-hold-tap";
            label = "Layer toggle / sticky layer";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            bindings =
                <&mo>,
                <&sl>;
        };
        htsk: htsk {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold-Tap with Sticky Key";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&sk>;
        };

        // Alt+Tab swapper
        swapper: swapper {
            compatible = "zmk,behavior-tri-state";
            label = "tri_state";
            #binding-cells = <0>;
            bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
            ignored-key-positions = <LT1>;
        }
        swapper_r: swapper_r {
            compatible = "zmk,behavior-tri-state";
            label = "tri_state";
            #binding-cells = <0>;
            bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
            ignored-key-positions = <LT0>;
        }



        // Umlaut and special symbol Mod-Morph behaviors
                de_ae: de_ae {
                compatible = "zmk,behavior-mod-morph";
                label = "de_ae";
                #binding-cells = <0>;
                bindings = <&mak_ae>, <&mak_ae_G>;
                mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        de_oe: de_oe {
                compatible = "zmk,behavior-mod-morph";
                label = "de_oe";
                #binding-cells = <0>;
                bindings = <&mak_oe>, <&mak_oe_G>;
                mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        de_ue: de_ue {
                compatible = "zmk,behavior-mod-morph";
                label = "de_ue";
                #binding-cells = <0>;
                bindings = <&mak_ue>, <&mak_ue_G>;
                mods = <(MOD_LSFT|MOD_RSFT)>;
        };
         de_ae_l: de_ae_l {
                compatible = "zmk,behavior-mod-morph";
                label = "de_ae_l";
                #binding-cells = <0>;
                bindings = <&mak_ae_l>, <&mak_ae_G_l>;
                mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        de_oe_l: de_oe_l {
                compatible = "zmk,behavior-mod-morph";
                label = "de_oe_l";
                #binding-cells = <0>;
                bindings = <&mak_oe_l>, <&mak_oe_G_l>;
                mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        de_ue_l: de_ue_l {
                compatible = "zmk,behavior-mod-morph";
                label = "de_ue_l";
                #binding-cells = <0>;
                bindings = <&mak_ue_l>, <&mak_ue_G_l>;
                mods = <(MOD_LSFT|MOD_RSFT)>;
        };

    };