    macros {
        ppt_fp: ppt_fp {
            label = "PPT format painter";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LALT &kp H &kp F &kp P>;
        };
        wink: wink {
            label = "^^";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp CARET>;
        };
    };