

#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"

// Homerow Mod Keymaps
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                      // thumbs

#include "base.keymap"

/* Change encoder resolution from 4 to 2, so that every click is recorded as keypress */
/ { 
        left_encoder: left_encoder {
        compatible = "alps,ec11";
        label = "L_ENCODER";
        resolution = <2>;
        status = "okay";

        a-gpios = <&pro_micro 4 GPIO_PULL_UP>;
        b-gpios = <&pro_micro 5 GPIO_PULL_UP>;
    };
 };